/* Container geral */
.tour-section {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

.tour-section h2 {
    color: #1DB954;
    font-size: 28px;
    margin-bottom: 25px;
}

/* Lista dos shows */
.tour-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Cada show */
.tour-item {
    background: #000;
    border: 2px solid #1DB954;
    padding: 18px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
}

.tour-item:hover {
    transform: scale(1.02);
    border-color: #17a34a;
}

.date {
    color: #1DB954;
    font-weight: bold;
    width: 30%;
    text-align: left;
}

.venue {
    color: #fff;
    font-weight: bold;
    width: 40%;
}

.city {
    color: #ccc;
    width: 30%;
    text-align: right;
}

footer {
    text-align: center;
    color: #00ff7f;
    padding: 20px 0;
    font-size: 16px;
    margin-top: 40px;
}
footer h3 {
    color: #00ff7f;
    text-align: center;
}

/* Responsivo */
@media (max-width: 600px) {
    .tour-item {
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }

    .date, .venue, .city {
        width: 100%;
        text-align: center;
    }
}
